body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
  margin-left: auto;
  margin-right: auto;

}

@media screen and (min-width: 1801px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
  .base-layout{
    width: auto;
    max-width: 3120px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
}
 

/* home section */

.home-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.background-image {
  width: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  display: none;

}

.background-image.active {
  left: 0;
  /* Move to the left for active image */
  display: block;
  opacity: 1;
  /* Show the active image */
  transition: left 5s ease-in-out, opacity 5s ease-in-out;
  /* Add transition for smooth effect */
}

.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .background-image {
    width: 100%;
    height: 100%;

  }
}

/* home section ends */


/* home-about-section */
.home-about-section-div {
  width: 100%;
 
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.home-about-section {
  max-width: 1800px;
  width: 80%;
  display: flex;
}

.about-intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-about-first-tsxt {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(19, 149, 149);
  margin-bottom: 1px;

}



.about-intro h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  margin-top: 10px;

}

span.takeoff {
  color: rgb(19, 149, 149);
}

.about-p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  margin-top: 8px;
  line-height: 1.5;

}

.home-about-img {
  width: 50%;
  display: flex;
  justify-content: end;
}

.home-about-img img {
  width: 80%;
  height: auto;
}

.button {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background: rgb(19, 149, 149);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
  font-size: 1rem;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: black;
  transition: all 0.475s;
}




@media (max-width: 1020px) {
  .home-about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .home-about-img {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    
  }

  .about-intro {
    width: 100%;
    padding: 0;
  }

  .home-about-section {
    box-shadow: none;
  }

  .home-about-img img {
    width: 100%;
    margin-top: 1rem;
  }
}

/* home-about-section ends */

/* popular tours section */
.popular-tours-main-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.popular-tours-div {
  max-width: 1800px;
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: left
  ;
}

.popheading {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(19, 149, 149);
  margin: 1px
}

.popheading2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}

span.tours {
  color: rgb(19, 149, 149);
}

/* Global Styles */
/* Global Styles */
/* Global Styles */
.tours-cards-main-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  max-width: 1800px;

}

.tours-cards-main-div_container {
  width: 80%;
  max-width: 1800px;


}

.row {
  display: flex;
  max-width: 1800px;
 
}

.home_tourcards_leftCol,
.home_tourcards_rightCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourcard {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  text-align: left;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

.text-overlay h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 7px;
}

.text-overlay p {
  margin: 0;
}

.home_tourcards_leftCol img,
.home_tourcards_rightCol img {
  width: 100%;
  border-radius: 2rem;
  margin-top: 1rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 767.98px) {
  .text-overlay h3 {
    font-size: 1em;
    margin-bottom: 5px;
  }
  .tours-cards-main-div {
    
    margin-top: 20px;
   
  
  }

  .text-overlay p {
    font-size: 0.8em;
  }

  
  
}

/* Responsive styles for tablet devices */
@media (min-width: 768px) and (max-width: 991.98px) {
  .text-overlay h3 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }

  .text-overlay p {
    font-size: 1em;
  }
}

/* Styles for screens larger than 1775px */
@media (min-width: 1776px) {
  .tourcard,
  .text-overlay {
    height: auto;
  }
}



/* //tour count section  */

.tours-count-main-div{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.tour-count {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 1800px;
  background-image: url("../img/bridge2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 60px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.tour-count::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 60px;
}

.tour-completed-list {
  position: relative;
  z-index: 2; /* Set a higher z-index */
  text-align: center;
}

.tour-completed-list img {
  margin-top: 10%;
  width: 40%;
}

.tour-completed-list h6 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  margin-top: 20px;
}

.tour-completed-list p {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  margin-top: 8px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .tour-count {
    flex-direction: column;
    height: auto;
    background-image: url("../img/london3.jpg");
  }

  .tour-completed-list img {
    width: 70%;
  }

  .tour-completed-list h6 {
    font-size: 2rem;
    margin-top: 10px;
  }

  .tour-completed-list p {
    font-size: 1.4rem;
    margin-top: 5px;
  }
}

/* popular tours section ends*/



/* offers and packages section starts */
.offers-main-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.offers-div {
  max-width: 1800px;
  width: 80%;
  display: flex;
}

.offer-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: center;

}

.offers-img {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.offers-img img {
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.offer-content h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
  color: black;
  padding-bottom: 30px;
}

.offer-content p {
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
  color: black;
}

.button-whatsapp {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 2rem;
  background: #42db87;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-whatsapp:hover::before {
  transform: scaleX(1);
}

.button-content-whatsapp {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
}

.button-whatsapp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: black;
  transition: all 0.475s;
}


/* offers and packages section ends */




































/* ABOUT PAGE START*/

.about_sec1 {
  background-image: url(../img/takeOffAboutHero.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  margin-top: 100px;
}

.about_sec1_row {
  width: 100%;
  height: auto;
  
}

.about_sec1_text_container {
  margin-left: 10%;
  text-align: left;
  color: #fff;
  padding-top: 14%;
  padding-bottom: 14%;
  font-family: "Roboto", sans-serif;

}

.about_sec1_text_container h2 {
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style:Bold;
  font-size: 3.4rem;
}

.about_sec1_text_container h3 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;

  margin-top: 8px;
  line-height: 2;

}

.about_sec2 {
  width: 100%;
  height: auto;
}

.about_sec2_text_container {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: "Roboto", sans-serif;

}

.about_sec2_text_container h4 {
  color: #139595;
  font-size: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.default_blue_text {
  color: #139595;
}

.about_sec2_text_container h5 {
  color: #000000;
  font-size: 250%;
  font-weight: bolder;
  padding-left: 10%;
  padding-right: 10%;
}

.about_sec2_text_container h6 {
  color: #000000;
  font-size: 100%;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 2rem;
}

.about_sec3_row1 {
  width: 100%;
  height: auto;
}

.about_sec3_row1_img_container img {
  padding-left: 20%;
  width: 80%;
}

@media screen and (max-width:768px) {

  .about_sec1_text_container h2{
    font-size: 2.5rem;
  }
  .about_sec1_text_container {
   width: 100%;
   margin-left: 2%;
  
   
  }
  .about_sec2_text_container h6 {
    
    padding-left: 2%;
    line-height: 2rem;
  }
  .about_sec3_row1_img_container img {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
}

.about_sec3_row1_text_container {
  text-align: left;
  color: #000000;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif;
}

.about_sec3_row1_text_container h4 {
  color: #139595;
  font-size: 100%;
  padding-right: 10%;
}

.about_sec3_row1_text_container h5 {
  color: #000000;
  font-size: 250%;
  font-weight: bolder;
  padding-right: 10%;
}

.about_sec3_row1_text_container h6 {
  color: #000000;
  font-size: 100%;
  padding-right: 20%;
  line-height: 2rem;
}

@media screen and (max-width:768px) {
  .about_sec3_row1_text_container {
    text-align: center;
  }

  .about_sec3_row1_text_container h4 {
    padding-right: 0%;
    padding-left: 5%;
  }

  .about_sec3_row1_text_container h5 {
    padding-right: 0%;
    padding-left: 5%;
  }

  .about_sec3_row1_text_container h6 {
    padding-right: 0%;
    padding-left: 5%;
  }
}


.about_sec3_row2 {
  width: 100%;
  height: auto;
}

.about_sec3_row2_img_container img {
  padding-left: 20%;
  width: 80%;
}

@media screen and (max-width:768px) {
  .about_sec3_row2_img_container img {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
}

.about_sec3_row2_text_container {
  text-align: right;
  color: #000000;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif;
}

.about_sec3_row2_text_container h4 {
  color: #139595;
  font-size: 100%;
  padding-left: 10%;
}

.about_sec3_row2_text_container h5 {
  color: #000000;
  font-size: 250%;
  font-weight: bolder;
  padding-left: 10%;
}

.about_sec3_row2_text_container h6 {
  color: #000000;
  font-size: 100%;
  padding-left: 20%;
  line-height: 2rem;
}

@media screen and (max-width:768px) {
  .about_sec3_row2_text_container {
    text-align: center;
  }

  .about_sec3_row2_text_container h4 {
    padding-right: 0%;
    padding-left: 5%;
  }

  .about_sec3_row2_text_container h5 {
    padding-right: 0%;
    padding-left: 5%;
  }

  .about_sec3_row2_text_container h6 {
    padding-right: 0%;
    padding-left: 5%;
  }
}



.about_sec4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_sec4_box {
  width: 80%;
  height: auto;
  border: 2px solid #139595;
  border-radius: 2rem;
  text-align: center;
}
.about_sec4_box_row_col img {
  width: 6rem;
  height: 6rem;
}

.about_sec4_box h2 {
  padding-top: 5%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.about_sec4_box_row {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.about_sec4_box_row_col {
  display: flex;
}

@media screen and (max-width:768px) {
  .about_sec4_box {
    margin-top: 5%;
  }

  .about_sec4_box_row_col img {
    display: none;
  }

  .about_sec4_box_row_col_text {
    text-align: center;
    padding-bottom: 5%;
    border-bottom: 1px solid #139595;
  }
}

.about_sec4_box_row_col_text {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Roboto", sans-serif;
}

.about_sec4_box_row_col_text h5 {
  font-weight: bold;
  line-height: 3rem;
}

.about_sec4_box_row_col_text h6 {
  line-height: 2rem;
}

.about_sec5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_sec5_text {
  width: 80%;
}

.about_sec5_text h2 {
  font-weight: bold;
  font-size: 3rem;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 1%;
  text-align: left;
}

@media screen and (max-width:768px) {
  .about_sec5_text h2 {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 1%;
    text-align: center;
  }
}



/* ABOUT PAGE END*/



/*footer start*/
.default_bold {
  font-weight: bold;
}

.default_underline {
  text-decoration: underline;
}

.footer_contaier {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #139595;
}

.footer_contaier_centered {
  width: 80%;
  height: auto;
}

.footer_head {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;

  font-size: 2.5rem;
  color: #ffff;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  font-family: "Roboto", sans-serif;
}

.footer_cta_buttons {
  width: 100%;
  height: auto;
  border-top: 1px solid #ffff;
  border-bottom: 1px solid #ffff;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
}

.footer_cta_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_items {
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.contact_items img {
  padding: 1%;
  scale: 70%;
}

.contact_items h2 {
  font-size: 1.5rem;
}

.contact_items h3 {
  font-size: 1rem;
}

.contact_items_social_icons {
  display: flex;
  align-items: center;
  justify-content: right;

}

@media screen and (max-width:768px) {
  .contact_items_social_icons {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .contact_items {
    padding-left: 2%;
  }
}

.contact_items_social_icons img {
  margin: 1%;
  scale: 70%;
}

.footer_tags {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.footer_tags_centered {
  width: 100%;
  padding: 2%;
  display: flex;
  border-bottom: 1px solid #fff;
}

@media screen and (max-width:768px) {
  .footer_tags_text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
  }

  .footer_tags_text_container_D_N {
    display: none;
  }

  .footer_tags_white_box {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

.footer_tags_white_box_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_tags_white_box {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 1.5rem;
  color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}

.footer_tags_white_box img {
  width: 70%;
}

.footer_tags_white_box h3 {
  width: 90%;
}

.footer_tags_white_box h4 {
  width: 90%;
  font-size: 70%;

}

.footer_copyright_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2%;
}



.gradient_div_blue_white {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #fff 50%, #139595 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2%;
}

.gradient_div_blue_white_img_holder {
  width: 25%;
}

.gradient_div_blue_white_img_holder img {
  width: 80%;
}


.about_sec6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.about_sec6_review_container {
  width: 80%;
}



/*footer end*/




/* Contactpage starts */

.contact_sec1 {
  background-image: url(../img/contact\ image.webp);
  background-size: cover;
  width: 100%;/* Set an appropriate height for your container */
  margin-top: 100px;

}
.contact-us-main-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.contact-div{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-div .p-contact-us{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(19, 149, 149);
  margin-bottom: 1px;
}
.contact-div h6{
color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  margin-top: 10px;
}
.contact-div p{
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  margin-bottom: 1px;
}

/* Base styles for larger screens */
.contact-form-main-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-form-overlay {
  position: relative;
  width: 80%;
}

.contact-form-overlay img {
  width: 100%;
  display: block;
  border-radius: 8px; /* Add border-radius to the image */
}

form {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px; /* Adjust the max-width according to your design */
  padding: 20px; /* Add padding to the form container */
  border-radius: 8px; /* Add border-radius to the form */
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 35px; /* Adjust margin-bottom for spacing between input fields */
  border-radius: 20px;
  border: .5px solid white;
}

#name, #category {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group input {
  width: 48%;
}

#email, #mobile {
  border-radius: 20px;
}

.form-button {
  align-items: center;
  text-align: center; /* Center the button */
  margin-top: 15px; /* Add margin-top to separate the button from the fields */
}

/* Responsive styles for tablets and mini-laptops */
@media only screen and (max-width: 768px) {
  .contact-form-overlay {
    width: 90%; /* Adjust width for smaller screens */
  }

  form {
    padding: 15px; 
    width: 100%;
    max-width: 300px;/* Adjust padding for smaller screens */
  }

  input,
  select,
  textarea {
    margin-bottom: 20px; 
     /* Adjust margin for smaller screens */
  }

  .input-group input { /* Full width for smaller screens */
    margin-right: 0; /* No margin between inputs for smaller screens */
  }
  .contact-form-overlay img {
    width: 100%;
    display: block;
    border-radius: 0; 
    height :600px;
    /* Add border-radius to the image */
  }
  
}
/* Existing styles */

/* Responsive styles for tablets (minimum width 768px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-form-overlay {
    width: 90%; /* Adjust width for tablets */
  }

  form {
    padding: 15px; 
    width: 100%;
    max-width: 500px; /* Adjust max-width for tablets */
  }

  input,
  select,
  textarea {
    margin-bottom: 20px; 
     /* Adjust margin for tablets */
  }

  .input-group input { /* Full width for tablets */
    margin-right: 0; /* No margin between inputs for tablets */
  }

  .contact-form-overlay img {
    width: 100%;
    display: block;
    border-radius: 0; 
    height: auto; /* Set height to auto for responsive image height */
  }
}

/* map section */
.contact-map-main-div{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contact-map-div{
width: 80%;
max-width: 1440px;
display: flex;
margin-top: 50px;
margin-bottom: 50px;
}
.map-section{
  width: 60%;
}
.address-section {
  width: 40%;
  display: flex;
  flex-direction: column;

}

.address-container {
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 20px;
  margin-left: 10%;
  display: flex;
  flex-direction: row; /* Change to column to stack items vertically */
  border-radius: 12px;
  background: rgb(19, 149, 149);
}

.address-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.address-content h6 {
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
}

.address-content p {
  color: #fff;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  .contact-map-div{
    width: 80%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    .address-section {
      width: 100%;
      margin-top: 25px;
    }
    .map-section{
      width: 100%;
    }
    .address-container {
    
      margin-left: 0;
     
    }
    
}

.contact-final-section {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff; /* Adjust text color as needed */
}
.contact-final-section  h6{
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}

.contact-final-section  p{
  color: #fff;
  font-weight: 350;
  font-style: normal;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {


  .contact-final-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Adjust text color as needed */
  }
  .contact-final-section  h6{
    font-size: 2rem;
  }
  

}
/* map section */

/* whatsapp */


.floating_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  background-color: #42db87;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size:30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}


.text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}


/* contact page ends */

/* Package page starts */


.package_sec1 {
  background-image: url(../img/package-header.jpg);
  background-size: cover;
  width: 100%;/* Set an appropriate height for your container */
  margin-top: 100px;
}









/* Package page ends */